@charset "UTF-8";

/* 모바일퍼스트 */

* {margin: 0; padding: 0;}

body {
font-family: sans-serif;}

a {text-decoration: none;}

nav a:link, nav a:visited {
	color: #fff;}
nav a:hover, nav a:active {
	color: #ff0;}

h2 {font-size: 1.8em;}
h3 {font-size: 1.3em;}
p {font-size: 1.3em;
 line-height: 2.5;}
li {font-size: 1em;
 line-height: 2;}


#container {border: 1px solid red;
width: 100%;
margin: 0 auto;/* pc사이즈가 되면
고정너비로 정중앙네 배치됨  */}

header {height:300px;
background-image: url("img/header.jpg");
background-size: cover;
background-position: center center;}

nav {background-color: #000;
height: 50px;}

nav>ul {/* border: 1px solid skyblue; */
list-style: none /* 목록 앞의 기본모양 제거 */;
padding: 10px;}

nav li {
display:inline-block/*  
가로형 메뉴를 구현(개별 메뉴들을 나란히) */;
margin: 5px 15px;
font-size: 0.8em;
font-family: ; }


section {padding: 15px 5% 10px 5%;
position: relative /* 자식요소의
기준이 되기위한 부모요소의 설정 */;}

section:nth-of-type(2n) {
 /* 짝수번째(=odd) 요소를 지정 */
background-color: #eee;	}

.pg-title {position: absolute /* 
부모요소를 기준으로 위치 설정 */;
top:20px; left:0;
padding: 30px 50px; }

.content {
 width:90%;
 margin: 80px auto 10px;
 padding: 20px;
 box-sizing: border-box
 /* 요소의 크기(width/height) 계산시 
 border와 padding값을 포함하도록 지정 */;}

.photo {display: none
/* 모바일~테블릿까지는 사진 숨김 */;}

.text>ol {margin-top: 20px;} 
.text>h3 {color: #0094ff;
 font-weight: 600;}

footer {background-color: #000;
 height:100px;
 color: #fff;}

footer>p {border: 1px solid red;
text-align: center;
line-height:100px
 /* 영역의 높이값(height)=행간값(line-height)
 으로 수직정렬 중앙지정 */;
font-family: ;
font-size: 1.5em; }

/* table - 너비 768px이상 */

@media screen and (min-width:760px) { /* 실제는 조금 더 적게함  */
	header {height:400px;}
	
	#intro, #map {border:1px dotted #ccc;
	float: left;/* 두 section을 
	나란히 배치  */
	width: 50%;/* 글자가 많을 때는 float으로 너비가 줄지 않으므로 직접 지정 */
	box-sizing: border-box;
	/* 요소의 크기(width/height) 계산시 
 	border와 padding값을 포함하도록 지정 */
 	height: 400px;
	}
	
	#choice {/* border: 1px solid skyblue; */
	clear: both;/* float 영향 해제
	(float의 영향으로 
	밀고 올라온 요소를 제자리로 보냄) */}
	
}

/* pc - 너비 992px이상  */  /* 보통은 900, 1000px  */

@media screen and (min-width:992px){
	#container {width:992px;}
	header {height:500px;}
	
	#intro, #map {width: 100%;}
	
	.photo, .text {border: 1px solid blue;}
	.photo {display: block;}
	
	
}






















































































