@charset "UTF-8";

section {font-size: 12px;}

.fs01 {font-size: 16px; }
.fs02 {font-size: 12px; }
.fs03 {font-size: 20px; }
.fs04 {font-size: 1em; }
.fs05 {font-size: 0.75em; }
.fs06 {font-size: 1.25em; }
.fs07 {font-size: 1rem; }
.fs08 {font-size: 0.75rem; }
.fs09 {font-size: 1.25rem; }
